@charset "UTF-8";
/*======================================
base
======================================*/
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
body {
  font-size: 16px;
  font-family: "ヒラギノ明朝", "ProN", serif;
  padding-top: 70px;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: #333333;
}

/*======================================
layout
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
header
======================================*/
.ly_header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1280px;
  height: 70px;
  z-index: 20;
}

.ly_header_inner {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_header_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
mainVisual
======================================*/
.ly_mainVisual {
  width: 100%;
  max-width: 1280px;
}

.ly_mainVisual_inner {
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_mainVisual_inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
contact
======================================*/
.ly_contact {
  background-image: url(../img/contact.png);
  background-size: cover;
  width: 100%;
  max-width: 1280px;
  margin-top: 225px;
  padding-top: 72px;
  padding-bottom: 85px;
}

@media screen and (max-width: 767px) {
  .ly_contact {
    margin-top: 100px;
  }
}

/*======================================
footer
======================================*/
.ly_footer {
  width: 100%;
  max-width: 1280px;
  background-color: #F7F7F7;
  padding-top: 48px;
  padding-bottom: 18px;
}

/*======================================
共通
======================================*/
.ly_main {
  width: 100%;
  max-width: 1280px;
}

.ly_cont {
  width: 100%;
  max-width: 1280px;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .ly_cont {
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*======================================
module(block)
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_header {
  display: flex;
}

.bl_header_logo {
  width: 120px;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 23px;
}

@media screen and (max-width: 767px) {
  .bl_header_logo {
    width: 100px;
  }
}

.bl_gnav_list {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .bl_gnav_list {
    display: block;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: #3EA1D1;
    width: 72vw;
    height: 100vh;
  }
}

.bl_gnav_item {
  margin-left: 48px;
}

@media screen and (max-width: 767px) {
  .bl_gnav_item {
    text-align: right;
    margin-top: 40px;
    padding-right: 15px;
  }
}

.bl_gnav_item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .bl_gnav a {
    color: #FFFFFF;
    font-size: 18px;
  }
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_mainVisual {
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual {
    display: block;
  }
}

.bl_mainVisual_img {
  width: 82.5%;
  padding-top: 66.666%;
  margin-left: auto;
  background: url(../img/mainVisual/top.png) no-repeat center center;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_img {
    width: 100%;
    padding-top: 120%;
    background-size: cover;
  }
}

.bl_mainVisual_body {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_body {
    position: static;
    transform: translateY(0%);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    background-color: transparent;
  }
}

.bl_mainVisual_ttl {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
}

.bl_mainVisual_text {
  line-height: 1.5;
  padding-top: 28px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .bl_mainVisual_text {
    padding-top: 32px;
  }
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_concept {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .bl_concept {
    display: block;
  }
}

.bl_concept_img {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .bl_concept_img {
    width: 100%;
  }
}

.bl_concept_body {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .bl_concept_body {
    width: 100%;
  }
}

.bl_concept_ttl {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.bl_concept_text {
  line-height: 1.5;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .bl_concept_text {
    margin-top: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .bl_concept__columnReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_cardUnit {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .bl_cardUnit {
    display: block;
  }
}

.bl_cardUnit__col3 .bl_card {
  width: calc((100% / 3) - 90px * 2 / 3);
  margin-right: 90px;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media screen and (max-width: 767px) {
  .bl_cardUnit__col3 .bl_card {
    width: 100%;
    margin-right: 0;
    margin-top: 24px;
    text-align: center;
  }
}

.bl_cardUnit__col3 .bl_card:nth-child(3) {
  margin-right: 0;
}

.bl_cardUnit__col3 .bl_card_text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.5;
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_jumbotron {
  position: relative;
  background: url(../img/bg.png) no-repeat center center;
  width: 100%;
  padding-top: 37.34%;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron {
    background: url(../img/bg-sp.png) no-repeat center center;
    padding-top: 129%;
  }
}

.bl_jumbotron_inner {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_inner {
    left: 16px;
  }
}

.bl_jumbotron_ttl {
  font-size: calc(1rem + ((1vw - 3.2px) * 0.625));
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_ttl {
    padding-top: 100px;
    font-size: 20px;
  }
}

.bl_jumbotron_text {
  font-size: calc(0.625rem + ((1vw - 3.2px) * 0.625));
  margin-top: 40px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .bl_jumbotron_text {
    font-size: 14px;
    margin-top: 32px;
  }
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_productsUnit {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_productsUnit {
    display: block;
  }
}

.bl_products {
  width: calc(100% / 3 - 80 * 2 / 3);
  margin-right: 80px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .bl_products {
    width: 100%;
    max-width: 260px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
  }
}

.bl_products:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .bl_products:last-child {
    margin-right: auto;
  }
}

.bl_products_text {
  padding-top: 24px;
}

.bl_products_price {
  color: #989898;
  padding-top: 14px;
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_mediaUnit {
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.bl_media {
  display: flex;
  align-items: center;
  margin-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
  .bl_media {
    display: block;
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bl_media:first-child {
  margin-top: 0;
}

.bl_media_img {
  width: 100%;
  max-width: 260px;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .bl_media_img {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .bl_media_img img {
    width: 100%;
    max-width: 310px;
  }
}

.bl_media_time {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .bl_media_time {
    display: inline-block;
    margin-top: 24px;
  }
}

.bl_media_ttl {
  font-size: 18px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .bl_media_ttl {
    font-size: 16px;
  }
}

.bl_media_text {
  color: #888888;
  font-size: 14px;
  margin-top: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .bl_media_text {
    font-size: 16px;
    margin-top: 24px;
  }
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_contact_inner {
  max-width: calc(1280px - 385px * 2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bl_contact_inner {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bl_contact_text {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .bl_contact_text {
    font-size: 12px;
  }
}

.bl_contact_text span {
  color: #E7728E;
}

.bl_contact_item {
  display: flex;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .bl_contact_item {
    display: block;
  }
}

.bl_contact_item:first-child {
  margin-top: 24px;
}

input[type="text"], input[type="email"], input[type="textarea"] {
  /*inputタグに対する既定の装飾を解除するプロパティ(appearance: none)*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFFFFF;
  background-image: none;
  border: transparent;
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  /*inheritは親要素を継承という意味*/
  color: inherit;
  font-family: inherit;
  width: 100%;
  height: 32px;
}

@media screen and (max-width: 767px) {
  input[type="text"], input[type="email"], input[type="textarea"] {
    margin-top: 10px;
  }
}

input[type="text"]:focus, input[type="email"]:focus, input[type="textarea"]:focus {
  box-shadow: none;
  outline: none;
}

input[type="textarea"] {
  height: 122px;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"] + span a {
  display: inline-block;
  color: #3EA1D1;
  border-bottom: 1px solid #3EA1D1;
}

input[type="checkbox"] + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #3EA1D1;
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 767px) {
  input[type="checkbox"] + span::before {
    width: 18px;
    height: 18px;
  }
}

input[type="checkbox"] + span::after {
  content: '';
  position: absolute;
  top: 2px;
  left: -28px;
  width: 18px;
  height: 6px;
  border-left: 2px solid #3EA1D1;
  border-bottom: 2px solid #3EA1D1;
  transform: rotate(-45deg);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  input[type="checkbox"] + span::after {
    width: 12px;
    height: 4px;
  }
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

input[type="submit"] {
  -webkit-appearance: none;
  background-image: none;
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  cursor: pointer;
  padding: 16px 54px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  input[type="submit"] {
    padding: 12px 40px;
  }
}

input[type="submit"]:hover {
  color: #FFFFFF;
  background-color: #3EA1D1;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="textarea"] {
  max-width: 320px;
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  input[type="textarea"] {
    margin-left: 0;
    max-width: 100%;
  }
}

.bl_contact_radio {
  display: flex;
  background-color: #FFFFFF;
  color: #3EA1D1;
  width: 160px;
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  .bl_contact_radio {
    margin-top: 10px;
    margin-left: 0;
  }
}

input[type="radio"] + span {
  display: inline-block;
  width: 79px;
  height: 38px;
  line-height: 40px;
  text-align: center;
}

input[type="radio"]:checked + span {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

.bl_contact_check {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .bl_contact_check {
    font-size: 12px;
  }
}

.bl_contact_submit {
  width: 100%;
  text-align: center;
}

/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
.bl_footerUnit {
  text-align: center;
}

.bl_footer_body {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .bl_footer_body {
    display: block;
  }
}

.bl_footer_text {
  margin-right: 24px;
}

@media screen and (max-width: 767px) {
  .bl_footer_text {
    margin-right: 0;
  }
}

.bl_footer_text:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .bl_footer_text:last-child {
    margin-top: 16px;
  }
}

.bl_footer_icons {
  margin-top: 37px;
}

@media screen and (max-width: 767px) {
  .bl_footer_icons {
    margin-top: 32px;
  }
}

.bl_footer_icon {
  color: #3EA1D1;
  font-size: 22px;
  margin-right: 40px;
}

.bl_footer_icon:last-child {
  margin-right: 0;
}

/*======================================
module(element)
======================================*/
/*======================================
カラー
======================================*/
/*======================================
フォント
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
レイアウト幅
======================================*/
/*======================================
ブレイクポイント
======================================*/
/*======================================
階層(z-index)
======================================*/
/*======================================
見出し
======================================*/
.el_lv2Heading {
  font-family: Hiragino, Mincho, Pro, serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .el_lv2Heading {
    font-size: 30px;
    margin-bottom: 60px;
  }
}

.el_lv2Heading span {
  position: relative;
}

.el_lv2Heading span::after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background-color: #3EA1D1;
}

/*======================================
ボタン
======================================*/
.el_btn {
  display: inline-block;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  padding: 16px 54px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .el_btn {
    padding: 12px 40px;
  }
}

.el_btn:hover {
  color: #FFFFFF;
  background-color: #3EA1D1;
}

/*======================================
ラベル
======================================*/
.el_label {
  position: relative;
  width: 100%;
  width: 180px;
  display: inline-block;
  font-family: Hiragino, Mincho, Pro, serif;
  background-color: rgba(62, 161, 209, 0.7);
  color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .el_label {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 28px;
    width: auto;
  }
}

.el_label::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -8px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 8px solid rgba(62, 161, 209, 0.7);
}

@media screen and (max-width: 767px) {
  .el_label::after {
    display: none;
  }
}

.el_label__mandatory {
  position: relative;
  display: inline-block;
}

.el_label__mandatory::after {
  content: '＊';
  position: absolute;
  top: -4px;
  right: -12px;
  color: #E7728E;
  width: 12px;
  height: 12px;
}

/*======================================
コピーライト
======================================*/
.el_footerCopyright {
  display: inline-block;
  font-size: 12px;
  color: #888888;
  margin-top: 24px;
}

/*======================================
helper
======================================*/
/*======================================
padding
======================================*/
.hp_pl80 {
  padding-left: 80px;
}

@media screen and (max-width: 767px) {
  .hp_pl80 {
    padding-left: 0;
  }
}

.hp_pr80 {
  padding-right: 80px;
}

@media screen and (max-width: 767px) {
  .hp_pr80 {
    padding-right: 0;
  }
}

/*======================================
margin
======================================*/
.hp_mt160 {
  margin-top: 160px;
}

.hp_mt48 {
  margin-top: 48px;
}

.ho_mt80_sp {
  margin-top: 80px;
}

.hp_mt40_sp {
  margin-top: 40px;
}

/*======================================
text-align
======================================*/
.hp_tac {
  text-align: center;
}

/*======================================
color
======================================*/
.hp_colorMain {
  color: #3EA1D1;
}

/*======================================
program
======================================*/
.js_drawer_toggle {
  display: none;
  /* アイコンが×になった際にリストに上書きされるのを防ぐ */
  z-index: 40;
}

@media screen and (max-width: 767px) {
  .js_drawer_toggle {
    display: block;
  }
}

.js_drawer_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #3EA1D1;
  margin-left: auto;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.js_drawer_icon:nth-child(1) {
  top: 22px;
}

.js_drawer_icon:nth-child(2) {
  top: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.js_drawer_icon:nth-child(3) {
  top: 22px;
}

/*OPEN時の動き*/
.js_drawer_toggle.open .js_drawer_icon:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 32px;
}

.js_drawer_toggle.open .js_drawer_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.js_drawer_toggle.open .js_drawer_icon:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
}

@media screen and (max-width: 767px) {
  .js_gnav_list {
    left: 100%;
    -webkit-transition: ease .5s;
    transition: ease .5s;
  }
}

/*OPEN時の動き*/
.js_gnav_list.open {
  /* 裏側に隠していたリストを登場させる */
  margin-left: -72vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /*　スクロールしながら登場させる */
  transform: translateZ(0);
}

.js_drawer_layer.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}
